{% extends 'base.html.twig' %}
{% block body %}
    <main class="main">

        <section id="faq-sect">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="sect-title">
                            <h4>Доставка</h4>
                        </div>

                        <div class="faq-descr-block">
                            <h4 class="title-highlight">Процесс осуществления доставки</h4>

                            <div class="box-space-left text-lg-right">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sunt, accusamus vel quaerat provident quibusdam quos eos aliquid corporis, sequi accusantium consequatur recusandae, necessitatibus pariatur at mollitia praesentium. Similique consequuntur eaque, dicta id consectetur reprehenderit perferendis. Distinctio repellendus quaerat dicta. Atque qui blanditiis obcaecati vel, facilis ad nemo voluptate molestias maiores. Officiis odio non, quasi, consectetur molestiae cum est omnis!</p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae et fugit, ipsa repellat quia dolor veritatis aperiam corporis iusto voluptates, sit officia. Quia saepe, repellat unde aliquid sapiente labore alias qui, culpa placeat ipsa ea, iusto, eligendi mollitia. Culpa illo aperiam architecto commodi voluptates laboriosam porro maiores hic, ipsum dolores rem placeat, eligendi minus dicta, aliquam, ab cupiditate. Quaerat, animi.</p>
                            </div>

                            <br>

                            <h4 class="title-highlight">Мы доставляем товары в следующие страны</h4>

                            <div class="card-box">
                                <div class="box-body">
                                    {#<div class="row">#}
                                    <div>
                                        {{ delivery.information | raw }}
                                    </div>
                                </div>
                            </div>

                            <br>

                            <h4 class="title-highlight">Когда придет заказ?</h4>

                            <div class="box-space-left text-lg-right">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi blanditiis minus perspiciatis dicta. Sit vero debitis ex explicabo inventore ipsam ducimus facilis totam dicta cumque adipisci deserunt quia, tempore animi similique vel odit omnis rem, distinctio quibusdam quisquam commodi cupiditate. Odit laboriosam, est molestias repellat cumque iste error obcaecati consectetur. Nam enim quam, illum placeat ullam commodi pariatur aperiam est!</p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi blanditiis minus perspiciatis dicta. Sit vero debitis ex explicabo inventore ipsam ducimus facilis totam dicta cumque adipisci deserunt quia, tempore animi similique vel odit omnis rem, distinctio quibusdam quisquam commodi cupiditate. Odit laboriosam, est molestias repellat cumque iste error obcaecati consectetur. Nam enim quam, illum placeat ullam commodi pariatur aperiam est!</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock %}