{% extends 'base.html.twig' %}
{% block body %}
    <main class="main">

        <section id="faq-sect">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="sect-title">
                            <h4>Доставка</h4>
                        </div>

                        <div class="faq-descr-block">
                            <h4 class="title-highlight">Процесс осуществления доставки</h4>

                            <div>
                                <p>После оформления заказа и его оплаты мы отправим товар курьерской компанией по указанному в заказе адресу. После отправки Вам на почту придет письмо с кодом с помощью которого Вы сможете отследить путь вашего товара.</p>

                                <p>Всем клиентам нашего магазина доставка приобретенных товаров осуществляется БЕСПЛАТНО</p>
                            </div>

                            <br>

                            <h4 class="title-highlight">Мы доставляем товары в следующие страны</h4>

                            <div class="card-box">
                                <div class="box-body">
                                    {#<div class="row">#}
                                    <div>
                                        {{ delivery.information | raw }}
                                    </div>
                                </div>
                            </div>

                            <br>

                            <h4 class="title-highlight">Когда придет заказ?</h4>

                            <div>
                                <p>Обычно товар приходит в течении 7-14 рабочих дней, все зависит от расстояния и страны получателя.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock %}