{% extends 'base.html.twig' %}

{% block body %}
    <main class="main">
    	<div class="container">
    		<div class="sect-title">
                <h4>Обработка персональных данных</h4>
            </div>
            <div class="obr_pd">
            	<h4>СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЯ</h4>
            	<p>1. Регистрируясь на сайте https://lucky-deal.ru, Пользователь подтверждает свое согласие на обработку Продавцом своих персональных данных и соглашается с &quot;Политикой в отношении обработки персональных данных&quot;, размещенной в сети Интернет по <a href="http://trailer.beget.tech/processing-personal-data">адресу</a>.</p>
            	<p>1.2. Перечень ПЕРСОНАЛЬНЫХ ДАННЫХ, далее (ПД), на обработку, которых дается согласие: ФИО; Ник; Контактный телефон; Адрес электронной почты; Адрес доставки</p>
            	<p>1.3. Перечень действий с ПД, на совершение которых Пользователем дается согласие на следующие способы использования ПД: Получение и Хранение ПД (в электронном виде и на бумажном носителе); Уточнение (обновление, изменение) ПД; Использование ПД для исполнения настоящего Договора; Передача ПД Пользователя в порядке, предусмотренном законодательством РФ; В целях рассылки каталогов, в маркетинговых и в иных коммерческих целях; На передачу ПД любым третьим лицам на территории Российской Федерации.</p>
            	<p>1.4. Согласие Пользователя на обработку персональных данных предоставляется без ограничения срока его действия.</p>
            	<p>1.5. Пользователь, исключительно по личному заявлению, имеет право отозвать (изменить) настоящее согласие на обработку ПД.</p>
            	<p>1.6. Продавец обязуется обрабатывать персональные данные Пользователя в порядке, установленном действующим законодательством и «Политикой ООО «ТРЕЙЛЕР» в отношении организации обработки и обеспечения безопасности персональных данных.</p>
            	<p>1.7 Пользователь осведомлен, и согласен с тем, что в целях заключения и исполнения Договора, персональные данные Пользователя могут быть переданы Курьерским службам для доставки товара, и Платежным системам для осуществления платежей.</p>
            	<p>1.8 Продавец имеет право на осуществление записи телефонных переговоров с Пользователем. В соответствии с п.4 ст.16 Федерального закона «Об информации, информационных технологиях и о защите информации»</p>
            </div>
    	</div>
    </main>
{% endblock %}