{% extends 'base.html.twig' %}

{% block body %}
    <main class="main">
    	<div class="container">
    		<div class="sect-title">
                <h4>Реферальная система</h4>
            </div>
            <div class="obr_pd">
				<p>Регистрируясь на сайте www. lucky-deal.ru, Вы получаете уникальную реферальную ссылку,
				которая доступна в личном кабинете.</p>
				<p>Для чего она нужна?</p>
				<p>Разместите Вашу реферальную ссылку в соц. Сетях или отправьте друзьям, каждый кто перейдет
				по ней и зарегистрируется на сайте www. lucky-deal.ru, будет вашим рефералом. За каждого
				привлеченного реферала вы получите вознаграждение в виде бонусных ставок, в размере 50% от
				приобретенных ставок Вашими рефералами*. Возможное количество рефералов у одного
				пользователя неограниченно!</p>
				<p>Где размещают реферальные ссылки?</p>
				<p>Реферальная ссылка может быть размещена практически на любом сайте в Интернете – как на
				досках объявлений, так и на форумах, и в социальных сетях.</p>
				<p>Их можно разместить:</p>
				<p>на личном сайте, например в блоге или на портале. Обычно размещаются в тематических статьях;</p>
				<p>в социальных сетях – Facebook, VK, «Одноклассниках», мессенджерах с постами. Размещаются как
				на личных страницах, так и в группах;</p>
				<p>на видеосервисах с записью видеоматериалов. Основной источник – YouTube. При должном
				уровне контента наблюдается повышенный интерес пользователей;</p>
				<p>на тематических форумах с подписью, в которой пользователь может оставить ссылку на сайты;</p>
				<p>в комментариях на тематических сайтах с возможностью публикации ссылок на сторонние
				ресурсы;</p>
				<p>на сервисах для поиска рефералов – отдельных сайтах для быстрого поиска заинтересованной
				аудитории, например Teaser.bz, VKSerfing, Seosprint и других;</p>
				<p>с помощью контекстной рекламы в Яндекс.Директе, Google AdWords.</p>
				<p style="color:#e74c3c">*- Внимание!, начисление бонусных ставок по реферальной системе действительно до момента
				регистрации на сайте 200000 пользователей, ( ну или как по другому) Администратор оставляет за
				собой право на изменение условий по начислению бонусных ставок.<p>
            </div>
    	</div>
    </main>
{% endblock %}