{% extends 'base.html.twig' %}

{% block body %}
    <main class="main">
    <div class="container">
    		<p>ООО &quot;Трейлер&quot;, в лице интернет-магазина www.lucky-deal.ru (далее ПРОДАВЕЦ), публикует
настоящий договор, являющийся публичным договором-офертой в адрес как физических, так и
юридических лиц (далее ПОКУПАТЕЛЬ). В своей деятельности Продавец руководствуется
положениями Гражданского кодекса РФ о розничной купле-продаже (§ 2, гл. 30), Законом РФ «О
защите прав потребителей», а также Правилами продажи Товаров дистанционным способом,
утвержденными Постановлением Правительства № 612 от 27.09.2007, и иными правовыми актами
РФ. Законодательство о защите прав потребителей распространяется на Покупателя в случае, если
Товар был приобретен им для личного, семейного, домашнего или иного использования, не
связанного с предпринимательской деятельностью</p>
    		<div class="sect-title">
                <h4>1. В настоящей оферте нижеприведенные термины имеют следующие значения:</h4>
            </div>
            <div class="obr_pd">
				<p>Администратор - Общество с ограниченной ответственностью «ТРЕЙЛЕР»</p>
				<p>Продавец — Общество с ограниченной ответственностью «ТРЕЙЛЕР», адрес местонахождения:
Российская Федерация, 214005, г. Смоленск, ул. Свердлова, д. 22, оф. 12, осуществляющее
деятельность по реализации Товара и реализующее Товар, описание которого представлено на
Сайте Продавца www. lucky-deal.ru.</p>
				<p>Пользователь – Дееспособное физическое лицо, достигшее 18 летнего возраста или юридическое
лицо, зарегистрированное в общем порядке на сайте www.lucky-deal.ru, и заключившее с
Администратором Соглашение, путем акцепта настоящей оферты, расположенной по адресу
www.lucky-deal.ru/terms-of-use.</p>
				<p>Покупатель — Пользователь, зарегистрированный на сайте Продавца, приобретающий Товары
исключительно для личных нужд, не связанных с осуществлением предпринимательской
деятельности, заключившее с Продавцом Договор на условиях, содержащихся в настоящей
Оферте.</p>
				<p>Стороны – Покупатель и Продавец</p>
				<p>Оферта — настоящий документ, являющийся публичным предложением Продавца,
адресованным любому физическому/юридическому лицу, о заключении договора розничной
купли-продажи Товара (далее — «Договор») на условиях, содержащихся в Договоре, включая все
его приложения.</p>
				<p>Акцепт — полное и безоговорочное принятие Пользователем условий Договора. Акцептом
является факт регистрации Пользователя на сайте www.lucky-deal.ru, путем проставления отметки
в регистрационной форме рядом с текстом «С условиями согласен». Данное действие означает
принятие (согласие) Пользователя с условиями настоящей Оферты в полном объеме без каких-
либо ограничений, изъятии, оговорок или исключений.</p>
				<p>Товар — товар, ассортиментный перечень которого, цена и описание доступно на Сайте
Продавца.</p>
				<p>Розничная цена – цена товара, указанная в описании, в карточке товара.</p>
				<p>Аукционная цена – конечная цена товара, участвующего в акции «Аукцион»</p>
				<p>Аукцион – Акция, проводимая Администратором для привлечения клиентов и повышения
активности покупателей, в момент проведения которой предлагается публичная продажа товаров
с заранее установленными <a href="http://trailer.beget.tech/terms-of-sale" target="_blank">условиями</a>.
Объект продажи приобретается лицом, предложившим наивысшую цену.</p>
				<p>Победитель аукциона – Участник, предложивший за время проведения Акции наивысшую
аукционную цену товара, который по окончании торгов получает эксклюзивное право
приобретения товара по аукционной стоимости.</p>
				<p>Ставка – предложение Участником новой аукционной стоимости товара, которое больше
предыдущего по времени, выраженное в денежном эквиваленте.</p>
				<p>Пакет ставок – определяемое Организатором количество ставок и их номинал, которые
приобретает (получает) Участник для зачисления на Баланс.</p>
				<p>Шаг цены – фиксированное повышение аукционной стоимости товара во время действия
(проведения) Акции – «Аукцион».</p>
				<p>Время проведения Аукциона – определенное, ограниченное время действия аукциона, в течение
которого любой Участник имеет право сделать ставку (ставки) любым способом, определенным
условиями аукциона. (ТАЙМЕР)</p>
				<p>Условия аукциона – набор обязательных параметров для каждого аукциона, который включает в
себя порядковый номер, товар и его детальное описание, розничную стоимость товара,
начальную (стартовую) стоимость товара, время проведения торгов, начальную
продолжительность торгов, шаг цены, стоимость одной ставки, шаг увеличения
продолжительности торгов при каждой ставке, способы совершения ставок, ограничения по числу
участников, ограничение Участников по группе.</p>
				<p>Логин – уникальный набор букв и цифр, который в сочетании с Паролем служит для
идентификации Пользователя.</p>
				<p>Пароль – набор букв и цифр, который в сочетании с Логином служит для идентификации
Пользователя.</p>
				<p>Счет Участника – максимально возможное на каждый момент времени количество Ставок,
которые может сделать Участник во всех акциях.</p>
				<p>Заказ — намерение Покупателя приобрести определенный им Товар, выраженное путем
заполнения Покупателем документа определенной формы, доступного в личном кабинете.</p>
				<p>Участник – Пользователь, изъявивший желание принять и принимающий участие в аукционе.</p>
				<p>Доставка — услуги по доставке Товара по адресу, указанному Покупателем, и передача его
Покупателю, либо доверенному лицу, указанному Покупателем.</p>
				<p>Курьерская служба — третье лицо, определяемое Продавцом, осуществляющее Доставку Товара
Покупателю.</p>
				<p>Сайт — совокупность электронных ресурсов, доступных для просмотра и использования
Пользователями в сети Интернет, в домене www.lucky-deal.ru и его под доменах.</p>
				<p>Карта — банковская карта Покупателя, позволяющая Покупателю совершать с ее помощью
операции по оплате Товаров, приобретаемых у Продавца на основании Договора.</p>
				<p><b>Учитывая важность вышеизложенного, лицу, заинтересованному в использовании сайта на
условиях, зафиксированных в настоящей Оферте, настоятельно рекомендуется внимательно
ознакомиться с ее текстом, и в случае несогласия с каким-либо её пунктом, предлагается
отказаться от регистрации и совершения покупок на сайте www.lucky-deal.ru.</b></p>
				<p><b>Покупатель подтверждает, что действует не в интересах третьих лиц, а исключительно от своего
имени и в собственных интересах.</b></p>
				<p><b>1. Предмет договора-оферты.</b></p>
				<p>1.1. ПРОДАВЕЦ обязуется продать, а ПОКУПАТЕЛЬ обязуется оплатить и принять заказанные в
интернет-магазине www.lucky-deal.ru товары (далее ТОВАР) по ценам указанным.</p>
				<p><b>2. Момент заключения договора.</b></p>
				<p>2.1. Текст данного Договора является публичной офертой (в соответствии со статьей 435 и частью 2
статьи 437 Гражданского кодекса РФ).</p>
				<p>2.2. Факт оформления ЗАКАЗА ТОВАРА у ПРОДАВЦА является безоговорочным принятием данного
Договора, и ПОКУПАТЕЛЬ рассматривается как лицо, вступившее с ООО «Трейлер» в договорные
отношения.</p>
				<p>2.3. Оформление ЗАКАЗА ТОВАРА и расчета осуществляется путем заполнения определенной
формы заказа ПОКУПАТЕЛЕМ в личном кабинете интернет-магазина www.lucky-deal.ru .</p>
				<p><b>3. Характеристики ТОВАРА.</b><p>
				<p>3.1. В связи с разными техническими характеристиками мониторов и экранов пользователей -
фактический цвет ТОВАРА может отличаться от представленного на сайте.</p>
				<p><b>4. Цена ТОВАРА.</b></p>
				<p>4.1. Цена Товара устанавливается в рублях Российской Федерации за единицу ТОВАРА.</p>
				<p>4.2. Тарифы на оказание услуг по доставке ТОВАРА указаны на странице <a href="www.lucky-
deal.ru/delivery-help" target="_blank">www.lucky-
deal.ru/delivery-help</a></p>
				<p><b>5. Оплата ТОВАРА.</b></p>
				<p>5.1. Оплата ТОВАРА происходит c помощью платежного сервиса <a href="" target="_blank">XXXXXXXX</a>, после
заполнения формы заказа в личном кабинете пользователя.</p>
				<p>5.2. ТОВАР считается оплаченным либо с момента зачисления соответствующих денежных средств
в размере 100% (ста процентов) предоплаты на расчетный счет ПРОДАВЦА по реквизитам,
указанным в п. 13 настоящего ДОГОВОРА, либо факт оплаты отражен в платежном сервисе<a href="" target="_blank">XXXXXXXXX</a>.</p>
				<p>5.3. При наличной форме оплаты ПОКУПАТЕЛЬ обязан уплатить ПРОДАВЦУ цену ТОВАРА в момент
его передачи, а ПРОДАВЕЦ обязан предоставить ПОКУПАТЕЛЮ кассовый или товарный чек, или
иной документ, подтверждающий оплату ТОВАРА.</p>
				<p>5.4. ТОВАРЫ поставляются ПОКУПАТЕЛЮ по ценам, наименованию, в количестве,
соответствующем счету, оплаченному ПОКУПАТЕЛЕМ.</p>
				<p><b>6. Доставка ТОВАРА.</b></p>
				<p>6.1. Доставка ТОВАРА ПОКУПАТЕЛЮ осуществляется курьерской компанией по указанному в
заказе адресу. Срок доставки от 7 до 14 дней, в зависимости от удаленности региона Получателя.</p>
				<p>6.2.Доставка товара, приобретенного на нашем интернет-магазине осуществляется СОВЕРШЕННО БЕСПЛАТНО. После отправки
Вам на почту придет письмо с кодом, с помощью которого Вы сможете отследить путь вашего
товара</p>
				<p>6.3. Не совершение необходимых действий для принятия ТОВАРА, такие как выключенный
(недоступный) телефон, указанный при оформлении, либо отсутствие получателя по указанному
адресу в согласованный период времени-могут рассматриваться ПРОДАВЦОМ в качестве отказа
ПОКУПАТЕЛЯ от исполнения ДОГОВОРА.</p>
				<p><b>7. Гарантии на товар.</b></p>
				<p>7.1. На все товары, продающееся в Интернет-магазине www.lucky-deal.ru , имеются все
необходимые Сертификаты Соответствия и Свидетельства о государственной гигиенической
регистрации (для тех групп товаров, для которых они необходимы).</p>
				<p>7.2. Гарантийный срок эксплуатации на ТОВАР устанавливает производитель. Срок гарантии
указывается в гарантийном талоне.</p>
				<p><b>8. Права и обязанности сторон.</b></p>
				<p>8.1. ПРОДАВЕЦ обязуется:</p>
				<p>8.1.1. Не разглашать любую частную информацию ПОКУПАТЕЛЯ и не предоставлять доступ к этой
информации третьим лицам, за исключением случаев, предусмотренных Российским
законодательством.</p>
				<p>8.1.2. Предоставить ПОКУПАТЕЛЮ возможность получения бесплатных телефонных консультаций
по телефонам, указанным на сайте магазина www.lucky-deal.ru. Объем консультаций
ограничивается конкретными вопросами, связанными с выполнениями ЗАКАЗА.</p>
				<p>8.1.3. ПРОДАВЕЦ оставляет за собой право изменять настоящий ДОГОВОР в одностороннем
порядке до момента его заключения.</p>
				<p>8.2. ПОКУПАТЕЛЬ обязуется:</p>
				<p>8.2.1. До момента заключения ДОГОВОРА ознакомиться с содержанием договора-оферты,
условиями оплаты и доставки на сайте магазина www.lucky-deal.ru</p>
				<p>8.2.2. Предоставлять достоверную информацию о себе (ФИО, контактные телефоны, адрес
электронной почты) и реквизиты для доставки ТОВАРА.</p>
				<p>8.2.3. Принять и оплатить ТОВАР в указанные в настоящем ДОГОВОРЕ сроки.</p>
				<p><b>9. Ответственность сторон и разрешение споров.</b></p>
				<p>9.1. Стороны несут ответственность за неисполнение или ненадлежащее исполнение настоящего
ДОГОВОРА в порядке, предусмотренном настоящим ДОГОВОРОМ и действующим
законодательством РФ.</p>
				<p>9.2. Продавец не несет ответственности за доставку ТОВАРА, если ПОКУПАТЕЛЕМ указан
неправильный адрес доставки.</p>
				<p>9.3. ПРОДАВЕЦ не несет ответственности, если ожидания ПОКУПАТЕЛЯ о потребительских
свойствах ТОВАРА оказались не оправданны.</p>
				<p>9.4. ПРОДАВЕЦ не несет ответственности за частичное или полное неисполнение обязательств по
доставке ТОВАРА, если они являются следствием форс-мажорных обстоятельств.</p>
				<p>9.5. ПОКУПАТЕЛЬ, оформляя ЗАКАЗ, несет ответственность за достоверность предоставляемой
информации о себе, а так-же подтверждает, что с условиями настоящего ДОГОВОРА ознакомлен и
согласен.</p>
				<p>9.6. Все споры и разногласия, возникающие при исполнении СТОРОНАМИ обязательств по
настоящему Договору, решаются путем переговоров. В случае невозможности их устранения,
СТОРОНЫ имеют право обратиться за судебной защитой своих интересов.</p>
				<p><b>10. Возврат и обмен товара.</b></p>
				<p>10.1. Требование ПОКУПАТЕЛЯ об обмене либо о возврате ТОВАРА подлежит удовлетворению,
если ТОВАР не был в употреблении, сохранены его потребительские свойства, сохранена и не
нарушена упаковка, сохранены документы, подтверждающие факт покупки этого ТОВАРА в
интернет-магазине www.lucky-deal.ru.</p>
				<p>10.2. Срок такого требования составляет 7 (семь) дней с момента передачи ТОВАРА ПОКУПАТЕЛЮ.</p>
				<p>10.3. ПОКУПАТЕЛЬ компенсирует ПРОДАВЦУ необходимые транспортные расходы, понесенные в
связи с организацией обмена или возврата ТОВАРА.</p>
				<p><b>11. Форс-мажорные обстоятельства.</b></p>
				<p>11.1. Стороны освобождаются от ответственности за неисполнение или ненадлежащее
исполнение обязательств по Договору на время действия непреодолимой силы. Под
непреодолимой силой понимаются чрезвычайные и непреодолимые при данных условиях
обстоятельства, препятствующие исполнению своих обязательств СТОРОНАМИ по настоящему
Договору. К ним относятся стихийные явления (землетрясения, наводнения и т. п.), обстоятельства
общественной жизни (военные действия, чрезвычайные положения, крупнейшие забастовки,
эпидемии и т. п.), запретительные меры государственных органов (запрещение перевозок,
валютные ограничения, международные санкции запрета на торговлю и т. п.). В течение этого
времени СТОРОНЫ не имеют взаимных претензий, и каждая из СТОРОН принимает на себя свой
риск последствия форс-мажорных обстоятельств.</p>
				<p><b>12. Срок действия договора.</b></p>
				<p>12.1. Настоящий ДОГОВОР вступает в силу с момента регистрации на сайте www.lucky-deal.ru и
оформления ЗАКАЗА, и заканчивается при полном исполнении обязательств СТОРОНАМИ.</p>
				<p><b>13. Реквизиты ПРОДАВЦА.</b></p>
				<p>Наименование: Общество с ограниченной ответственностью «ТРЕЙЛЕР»,</p>
				<p>Адрес: 214005, Российская Федерация, г. Смоленск, ул. Свердлова, д. 22, оф. 12</p>
				<p>ИНН: 6732081915</p>
				<p>ОГРН: 1146733022061</p>
				<p>ОКПО: 25776291</p>
				<p>Банк: ОАО «Газэнергобанк», г. Калуга</p>
				<p>БИК: 042908701</p>
				<p>Расчетный счет: 40702810708710025990</p>
				<p>Корреспондентский счет: 30101810600000000701</p>
				<p>Электронная почта: info@lucky-deal.ru</p>
				<p>Контактный телефон: 8 (920) 318-48-40</p>
			</div>
    	</div>
    </main>
{% endblock %}