{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.image %}
        <div><img src="/images/{{ object.image }}" style="max-height: 100px;"/></div>
    {% else %}
        <div></div>
    {% endif %}
{% endblock %}